In [26]:
import pandas as pd
import numpy as np
import pickle
import gensim
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.stem.porter import *
import nltk
nltk.download('wordnet')
from text_cleaning import lemmatize_and_stem

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/kaylischulz/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
countries_df = pickle.load(open('countries.pkl', 'rb'))
countries_df.head()

              country                                    country_summary
0             Austria  Small, landlocked Austria offers alpine scener...
1             Belgium  Belgium falls through the cracks. Wedged betwe...
2  Bosnia-Herzegovina  Apart from the tragic way it separated from Yu...
3            Bulgaria  Endearing, surprising Bulgaria is a rewarding ...
4             Croatia  With thousands of miles of seafront and more t...

In [3]:
cities_df = pickle.load(open('cities.pkl', 'rb'))
cities_df.head()

            city                                       city_summary  country
0  Danube Valley  The Danube is at its romantic best just west o...  Austria
1      Hallstatt  Lovable Hallstatt is a tiny town bullied onto ...  Austria
2       Salzburg  Thanks to its charmingly preserved old town, s...  Austria
3          Tirol  Mountainous Tirol — in Austria's western panha...  Austria
4         Vienna  Vienna is the capital of Austria, the cradle o...  Austria

'i placed the textbooks her'